<ng-template cxOutletRef="Summary"
             class="product-summary">
  <div *ngIf="productInformation"
       class="product-images">
    <ngx-image-zoom class="image"
                    [thumbImage]="productInformation.images.PRIMARY.product.url"
                    isInsideStaticContainer="true"
                    zoomMode="hover"
                    enableLens="true"
                    lensHeight="1000"
                    lensWidth="1000"
                    magnification="3"
                    enableScrollZoom="true">
    </ngx-image-zoom>
  </div>
  <div class="product-information"
       *ngIf="productInformation">
    <div class="product-rating">
      <cx-star-rating [rating]="productInformation.averageRating">
      </cx-star-rating>
      <div class="reviews-count">
        ({{productInformation.numberOfReviews}})
      </div>
      <!-- link missing to open the reviews page -->
      <a href="">Show Reviews</a>
    </div>
    <div>
      ID {{productInformation.code}}
    </div>
    <cx-product-summary class="product-specifics">
      {{productInformation.price.formattedValue}}
    </cx-product-summary>
    <!--    <div class="stock" *ngIf="productInformation.stock.stockLevel > 0">-->
    <!--      <label>Qty</label>-->
    <!--          <cx-item-counter value="0"-->
    <!--                           step="1"-->
    <!--                           min="0"-->
    <!--                           [max]="productInformation.stock.stockLevel">-->
    <!--          </cx-item-counter>-->
    <!--    </div>-->
  </div>
</ng-template>
