<ng-template cxOutletRef="Summary"
             class="product-summary">
  <div *ngIf="productInformation"
       class="product-images">
    <ngx-image-zoom class="image"
                    [thumbImage]="productInformation.images.PRIMARY.product.url"
                    isInsideStaticContainer="true"
                    zoomMode="hover"
                    enableLens="true"
                    lensHeight="1000"
                    lensWidth="1000"
                    magnification="3"
                    enableScrollZoom="true">
    </ngx-image-zoom>
  </div>
  <div class="product-information"
       *ngIf="productInformation">
    <div class="product-rating">
      <cx-star-rating [rating]="productInformation.averageRating">
      </cx-star-rating>
      <div class="reviews-count">
        ({{productInformation.numberOfReviews}})
      </div>
    </div>
    <div>
      ID {{productInformation.code}}
    </div>
    <cx-product-summary class="product-specifics">
      {{productInformation.price.formattedValue}}
    </cx-product-summary>
    <label>Qty</label>
    <div class="stock" *ngIf="productInformation.stock.stockLevel > 0">
      <cx-add-to-cart>
        <cx-item-counter [step]="1"
                         [min]="1"
                         [max]="productInformation.stock.stockLevel"
                         isValueChangeable="true">
        </cx-item-counter>
      </cx-add-to-cart>
    </div>
    <div *ngIf="productInformation.stock.stockLevel === 0">
      Out of stock
    </div>
  </div>
</ng-template>
