.product-summary {
  display: flex;
  flex-direction: row;
}

.product-rating {
  display: flex;
  flex-direction: row;
  align-items: center;

  .reviews-count {
    margin: 0 1rem;
  }
}

.product-specifics {
  padding-left: 0;
}

.images-carousel {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  .image {
    width: 100px;
    height: 100px;
  }
}
