<ng-template cxOutletRef="Summary"
             class="product-summary">
  <div *ngIf="productInformation"
       class="product-images">
    <div>
      <ngx-image-zoom class="image"
                      [thumbImage]="activeImage.product"
                      [fullImage]="activeImage.zoom"
                      isInsideStaticContainer="true"
                      zoomMode="hover"
                      enableLens="true"
                      lensHeight="200"
                      lensWidth="200"
                      magnification="2"
                      enableScrollZoom="true"
                      circularLens="true">
      </ngx-image-zoom>
      <cx-carousel itemWidth="25%" [items]="imagesGallery"
                   [template]="ImageToShow"
      *ngIf="imagesGallery.length > 1">
      </cx-carousel>
      <ng-template #ImageToShow let-image="item">
        <div (click)="changeImageToDisplay(image)">
          <img [src]="image.thumbnail">
        </div>
      </ng-template>
    </div>
  </div>
  <div class="product-information"
       *ngIf="productInformation">
    <div class="product-rating">
      <cx-star-rating [rating]="productInformation.averageRating">
      </cx-star-rating>
      <div class="reviews-count">
        ({{productInformation.numberOfReviews}})
      </div>
    </div>
    <div>
      ID {{productInformation.code}}
    </div>
    <cx-product-summary class="product-specifics">
      {{productInformation.price.formattedValue}}
    </cx-product-summary>
    <label>Qty</label>
    <div class="stock" *ngIf="productInformation.stock.stockLevel > 0">
      <cx-add-to-cart>
        <cx-item-counter [step]="1"
                         [min]="1"
                         [max]="productInformation.stock.stockLevel"
                         isValueChangeable="true">
        </cx-item-counter>
      </cx-add-to-cart>
    </div>
    <div *ngIf="productInformation.stock.stockLevel === 0">
      Out of stock
    </div>
  </div>
</ng-template>
